@{
    ViewData["Title"] = "Đăng nhập";
}

<h2>Đăng nhập</h2>

<form method="post" action="/Account/Login">

    <div>
        <input name="Email" placeholder="Email" />
    </div>

    <div>
        <input name="Password" type="password" placeholder="Mật khẩu" />
    </div>

    <button type="submit">Đăng nhập</button>

</form>

<hr />

<!-- QUÊN MẬT KHẨU -->
<a href="/Account/ForgotPassword">
    Quên mật khẩu?
</a>