<form method="post">
    <input name="username" class="form-control" placeholder="Username" />
    <input name="password" type="password" class="form-control" placeholder="Password" />
    <button class="btn btn-primary">Đăng nhập</button>
    <p class="text-danger">@ViewBag.Error</p>
</form>
