/* HERO SECTION */
.hero-section {
    height: 90vh;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/images/house-bg.jpg') center/cover no-repeat;
}

    .hero-section h1 {
        font-size: 3rem;
        letter-spacing: 1px;
    }

    .hero-section .btn {
        border-radius: 30px;
        font-weight: 600;
        transition: 0.3s;
    }

        .hero-section .btn:hover {
            transform: scale(1.05);
        }

/* FOOTER */
.footer-custom {
    background: linear-gradient(135deg, #1f2937, #111827);
}

.footer-link {
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

    .footer-link:hover {
        color: #ffffff;
        padding-left: 5px;
    }
.hero-section {
    height: 90vh;
    background: linear-gradient( rgba(0,0,0,0.6), rgba(0,0,0,0.6) ), url('/images/hero.jpg') center/cover no-repeat;
}

    .hero-section h1 {
        font-size: 3rem;
    }

    .hero-section .btn {
        border-radius: 30px;
        font-weight: 600;
        transition: 0.3s;
    }

        .hero-section .btn:hover {
            transform: scale(1.05);
        }
